<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Upcoming Transactions

    <a data-toggle="collapse" href="#user_upcoming_transactions_new_form">
      Add upcoming transaction
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.upcoming_transactions.each do |upcoming_transaction| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to upcoming_transaction, upcoming_transaction %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to upcoming_transaction, method: :delete, data: { confirm: "Do you really want to delete this upcoming_transaction" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_upcoming_transactions_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
